@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 7% 12%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 6% 24%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 7% 12%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 5.9% 10%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
    }
}

* {
    @apply border-border;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
}

@layer base {
    * {
        transition: none !important;
    }
}

::selection {
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
}

.prose .anchor {
    @apply absolute invisible no-underline;

    margin-left: -1em;
    padding-right: 0.5em;
    width: 80%;
    max-width: 700px;
    cursor: pointer;
}

.anchor:hover {
    @apply visible;
}

.prose a {
    @apply underline transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
    @apply text-neutral-300 dark:text-neutral-700;
    content: '#';
}

.prose *:hover > .anchor {
    @apply visible;
}

.prose pre {
    @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900 py-2 px-3 text-sm;
}

.prose code {
    @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
    @apply p-0;
    border: initial;
    line-height: 1.5;
}

.prose code span {
    @apply font-medium;
}

.prose img {
    /* Don't apply styles to next/image */
    @apply m-0;
}

.prose p {
    @apply my-4 text-neutral-800 dark:text-neutral-200;
}

.prose h1 {
    @apply text-4xl font-medium tracking-tight mt-6 mb-2;
}

.prose h2 {
    @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h3 {
    @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h4 {
    @apply text-lg font-medium tracking-tight mt-6 mb-2;
}

.prose strong {
    @apply font-medium;
}

.prose ul {
    @apply list-disc pl-6;
}

.prose ol {
    @apply list-decimal pl-6;
}

.prose > :first-child {
    /* Override removing top margin, causing layout shift */
    margin-top: 1.25em !important;
    margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
    display: none;
}

pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
}

.title {
    text-wrap: balance;
}
